---
layout: tna.default
permalink: /tour/
title: Tour
---
<div id="shows">
  <div class="row">
    <div class="col-md-8 section shows">
      <h1 class="title">2017 {{ page.title }}</h1>
      <h2 class="title">Nov</h2>
      <ul class="list-unstyled">
        {% for show in site.data.tna_shows_2017-nov %}
        <li><strong>{{ show.date }}</strong> / {{ show.addr }}, {{ show.city }}, {{ show.state }}</li>
        {% endfor %}
      </ul>
      <h2 class="title">Oct</h2>
      <ul class="list-unstyled">
        {% for show in site.data.tna_shows_2017-oct %}
        <li><strong>{{ show.date }}</strong> / {{ show.addr }}, {{ show.city }}, {{ show.state }}</li>
        {% endfor %}
      </ul>
      <h2 class="title">Sept</h2>
      <ul class="list-unstyled">
        {% for show in site.data.tna_shows_2017-sep %}
        <li><strong>{{ show.date }}</strong> / {{ show.addr }}, {{ show.city }}, {{ show.state }}</li>
        {% endfor %}
      </ul>
      <h2 class="title">Aug</h2>
      <ul class="list-unstyled">
        {% for show in site.data.tna_shows_2017-aug %}
        <li><strong>{{ show.date }}</strong> / {{ show.addr }}, {{ show.city }}, {{ show.state }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
