{% assign default_paths = site.pages | map: "path" %}
{% assign page_paths = site.header_pages | default: default_paths %}
{% assign current = page.url | downcase | split: '/' %}
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  {% if page_paths %}
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/"><strong><em>TNA</em></strong></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a class="page-link {% if current[1] == 'tour' %}current{% endif %}" href="{{ site.baseurl }}/tour">Tour</a>
        </li>
        <li>
          <a class="page-link {% if current[1] == 'pics' %}current{% endif %}" href="{{ site.baseurl }}/pics">Pics</a>
        </li>
        <li>
          <a class="page-link {% if current[1] == 'videos' %}current{% endif %}" href="{{ site.baseurl }}/videos">Videos</a>
        </li>
        <li>
          <a class="page-link {% if current[1] == 'contact' %}current{% endif %}" href="{{ site.baseurl }}/contact">Contact</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://www.instagram.com/thenewarkansans/"><i class="fa fa-instagram fa-lg"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCDaw7W3DK8H0YefLpBH4Ypw"><i class="fa fa-youtube-play fa-lg"></i></a></li>
        <li><a href="https://soundcloud.com/user-654163957"><i class="fa fa-soundcloud fa-lg"></i></a></li>
        <li><a href="https://www.facebook.com/TheNewArkansans/"><i class="fa fa-facebook fa-lg"></i></a></li>
        <li><a href="https://twitter.com/TheNewArkansans?lang=en"><i class="fa fa-twitter fa-lg"></i></a></li>
        <li><a href="https://thenewarkansans.bandcamp.com/releases"><i class="fa fa-bandcamp fa-lg"></i></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
  {% endif %}
</nav>
