---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Katibeh');

/* path to glyphicons */
$icon-font-path: "{{ site.baseurl }}/bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$font-size-base:16px;
$body-bg: #8F383A;
$display_font: 'Katibeh', cursive;
// $brand_red: #BF4646;
$brand_red: #AA1917;
$brand_blk: #231E20;

/* any style customization must be before the bootstrap import */
@import "bootstrap";


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  background: #262022 url('{{ site.baseurl }}/assets/banner_1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  min-height: 1600px;
  padding-top: 70px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  color: $brand_blk;
}

img {
  max-width: 100%;
}

.navbar-default {
  border-bottom: none;
  background-color: rgba(255,255,255,0.7);

  -webkit-transition: background .25s ease-out;
   -moz-transition: background .25s ease-out;
   -o-transition: background .25s ease-out;
   transition: background .25s ease-out;

  .navbar-nav > li > a {
    color: #222;
    text-transform: uppercase;
    &:hover {
      color: $brand_red;
    }

  }
  &.current {
    font-weight: bold;
  }
  &:hover {
    background-color: rgba(255,255,255,0.85);
  }
  .navbar-brand {
    font-family: $display_font;
    color: darken($brand_red, 20%);
    font-size: 46px;
    line-height: 1;
    &:hover {
      color: $brand_red;
    }
  }
}

.hero {
  min-height: 750px;
  position: relative;
  img {
    position: absolute;
    top: 50%;
    margin-top: -90px;
  }
}



.section {
  background-color: rgba(255,255,255,0.7);
  padding-top:25px;
  padding-bottom: 25px;
  font-size: 18px;
  line-height: 1.75;
  min-height: 480px;
  position: relative;
  h1.title {
    font-family: $display_font;
    font-weight: 200;
    color: #fff;
    font-size: 58px;
    line-height: 1;
    background: rgba(0,0,0,0.75);
    padding: 15px 15px 0 15px;
    overflow: hidden;
    position: absolute;
    top: -95px;
    left:0;

  }
}

.title {
  font-family: $display_font;
  font-size: 46px;
  color: $brand_red;
}

#gallery, #videos {
  position: relative;
  h1.title {
    font-family: $display_font;
    color: #fff;
    font-size: 58px;
    line-height: 1;
    background: rgba(0,0,0,0.75);
    padding: 15px 15px 0 15px;
    overflow: hidden;
    position: absolute;
    top: -95px;
    left:0;

  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  color: #fff;
  padding:25px;
}

@media all and (max-width: 480px) {
  .hero {
    min-height: 480px;
  }
}
